.bg{
    background-color: black;
}

a {
    color:#eee;
    font-weight: bolder;
    font-style: normal;
    font-family: 'Baloo Bhaina 2', 'Ubuntu', sans-serif, cursive;
    font-size: large;
    height: 40px;
}

body {
    background-image: url(columbia-river-cropped.JPG);
    background-size: 100%;
    margin: 100px;
}

.project-container {
    border: 3px solid #eee;
    width: 1000px;
    background-color: black;
    opacity: 0.92;
    padding-right: 40px;
    padding-left: 40px;
}

.project-row-top {
    height: 50px;
    font-style: normal;
    font-weight: bolder;
    font-family: 'Baloo Bhaina 2', 'Ubuntu', sans-serif, cursive;
    color: #eee;
}

.subtext {
    font-style: normal;
    font-weight: lighter;
    font-family: 'Baloo Bhaina 2', 'Ubuntu', sans-serif, cursive;
    color: #eee;
    font-size: 13px;
}

.project-row-bottom {
    font-style: normal;
    font-weight: normal;
    font-family: 'Baloo Bhaina 2', 'Ubuntu', sans-serif, cursive;
    color: #eee;
}

h2 {
    font-style: normal;
    font-weight: bold;
}

.coming-soon {
    border: 3px solid #eee;
    padding: 0px;
}

.anchorlinked {
        font-style: normal;
        font-family: 'Baloo Bhaina 2', 'Ubuntu', sans-serif, cursive; 
        font-size: 13px;
}
    
.anchorgit {
        font-style: normal;
        font-family: 'Baloo Bhaina 2', 'Ubuntu', sans-serif, cursive; 
        font-size: 13px;
}
    
.linked, .git {
        margin: 3px;
        color: #eee;
}
    