#greetingDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin-top: 20px;
  font-family: 'Baloo Bhaina 2', 'Ubuntu', sans-serif, cursive;
}

#subtitleDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  font-family: 'Baloo Bhaina 2', 'Ubuntu', sans-serif, cursive;
}
