body {
  background-color: rgb(169, 169, 184);
}

html {
  background-color: rgb(169, 169, 184);
}

.navbar {
  min-height: 5rem;
}
#titleDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin-top: 35px;
  margin-bottom: 35px;
  font-family: "Baloo Bhaina 2", "Ubuntu", sans-serif, cursive;
  color: #000000;
}

.icon {
  margin-right: 15px;
}

.passwordPicDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.passwordPic {
  width: 400px;
  height: 200px;
}

.passwordTitleDiv,
.plannerTitleDiv,
.springboardTitleDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.passwordLiveDiv,
.plannerLiveDiv,
.springboardLiveDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
 
}

.plannerPicDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.plannerPic {
  width: 400px;
  height: 200px;
}

.springboardPicDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.springboardPic {
  width: 400px;
  height: 200px;
}

#projects,
#aboutMe {
  border-right: 3px solid rgb(141, 141, 141);
  margin-right: 10px;
  padding-left: 83px;
}

#contact {
  margin-right: 10px;
  padding-left: 82px;
}

.navOption {
  font-family: "Baloo Bhaina 2", "Ubuntu", sans-serif, cursive;
}
