/*Modify background color of nav bar*/
.bg{
    background-color: black;
}

a {
    color:#eee;
    font-weight: bolder;
    font-style: normal;
    font-family: 'Baloo Bhaina 2', 'Ubuntu', sans-serif, cursive;
    font-size: large;
    height: 40px;
}

body {
    background-image: url(pacific-ocean-cropped.JPG);
    background-size: 100%;
    margin: 100px;
} 

.my-container {
    border: 3px solid black;
    width: 575px;
    background-color: #ffffff;
    opacity: 0.7;
    padding-right: 3px;
}

.my-row-top {
    height: 50px;
    font-style: normal;
    font-family: 'Baloo Bhaina 2', 'Ubuntu', sans-serif, cursive;
    color: black;

}
.my-row-bottom {
    height: 335px;
    font-style: normal;
    font-weight: bold;
    font-family: 'Baloo Bhaina 2', 'Ubuntu', sans-serif, cursive;
    font-size: large;
    color: black;
}

h1 {
    margin: 7px;
    font-weight: bolder;
    font-size: 40px;
}

.anchorlinked {
    font-style: normal;
    font-family: 'Baloo Bhaina 2', 'Ubuntu', sans-serif, cursive; 
    font-size: 13px;
}

.anchorgit {
    font-style: normal;
    font-family: 'Baloo Bhaina 2', 'Ubuntu', sans-serif, cursive; 
    font-size: 13px;
}

.linked, .git {
    margin: 3px;
}













