body {
  background-color: rgb(169, 169, 184);
}

html {
  background-color: rgb(169, 169, 184);
}

.navbar {
  min-height: 5rem;
}

#titleDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin-top: 35px;
  margin-bottom: 35px;
  color: #000000;
}

#contactTitle {
  font-family: "Baloo Bhaina 2", "Ubuntu", sans-serif, cursive;
  color: #000000;
}

.icon {
  margin-right: 15px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: black;
}

#email,
#phone {
  font-size: 15px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  font-family: "Baloo Bhaina 2", "Ubuntu", sans-serif, cursive;
}

.cardGithub,
.cardLinkedIn {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}
